@page
@model WebApiGps.Pages.ApiModel
@{
    string host = "https://localhost:44367";
}
<style>
    .Bold {
        font-weight: bold;
    }
</style>

<table border="1">
    <tbody>
        <tr>
            <td> <span class="Bold">Tabela </span> </td>
            <td> <span class="Bold">URL API </span> </td>
            <td> <span class="Bold">Metodo </span> </td>
            <td> <span class="Bold">Funcao </span> </td>
        </tr>
         <!--Localizacao-->
        <tr>
            <td>Localiza&ccedil;&otilde;es</td>
            <td> <a href="@host/api/location">@host/api/location</a> </td>
            <td> HTTP GET </td>
            <td> Listagem de registros</td>
        </tr>
        <tr>
            <td>Localiza&ccedil;&otilde;es</td>
            <td> <a href="@host/api/location/get?id=1">@host/api/location/get?id=1</a> </td>
            <td> HTTP GET </td>
            <td> Busca registro</td>
        </tr>
        <tr>
            <td>Localiza&ccedil;&otilde;es</td>
            <td> <a href="@host/api/location/add">@host/api/location/add</a> </td>
            <td> HTTP POST </td>
            <td> Adiciona registro</td>
        </tr>
        <tr>
            <td>Localiza&ccedil;&otilde;es</td>
            <td> <a href="@host/api/location/edit">@host/api/location/edit</a> </td>
            <td> HTTP PUT </td>
            <td> Atualiza registro</td>
        </tr>
        <tr>
            <td>Localiza&ccedil;&otilde;es</td>
            <td> <a href="@host/api/location/delete">@host/api/location/delete</a> </td>
            <td> HTTP DELETE </td>
            <td> Apaga registro</td>
        </tr>
    </tbody>
</table>