@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">Prot&oacute;tipo WebAPI - GPS</h1>
    <p>Desenvolvido com ASP.NET Core 3.1 + SQL Server + JQuery + Google Maps Javascript </a>.</p>
</div>

