@page
@model WebApiGps.Pages.LocalizacaoModel
@{
    ViewBag.Title = "Hist&oacute;rico Localiza&ccedil;&atilde;o";
}

<h2> Hist&oacute;rico Localiza&ccedil;&atilde;o </h2>

<div id="gridEmployee" style="margin:20px auto;"></div>

@section scripts {
    <script type="text/javascript" src="https://jqwidgets.com/jquery-widgets-demo/scripts/jquery-1.11.1.min.js"></script>

    <script type="text/javascript" src="https://jqwidgets.com/jquery-widgets-demo/jqwidgets/jqx-all.js"></script>

    <link rel="stylesheet" type="text/css" href="https://jqwidgets.com/jquery-widgets-demo/jqwidgets/styles/jqx.base.css" />

    <script type="text/javascript">

        $(document).ready(function () {                        

            // In this part, you need to prepare your data
            var source =            
            {
                datatype: "json",

                // Here you will declare all fields that must be used in the grid
                datafields: [

                    { name: 'id', type: 'number' },
                    { name: 'codCacamba', type: 'number' },
                    { name: 'coordenadas', type: 'string' },
                    { name: 'criadoEm', type: 'string' },
                    { name: 'link', type: 'string' },

                ],
                // call the action which retrieve data employees in json format
                url: '/api/localizacao'
            };

            var dataAdapter = new $.jqx.dataAdapter(source);

            // displaying data in the grid with jqxGrid
            $("#gridEmployee").jqxGrid(
                {
                    width: 800,
                    source: dataAdapter,
                    pageable: true,
                    sortable: true,

                    columns: [

                        { text: "Registro", datafield: "id" },
                        { text: "ID Ca&ccedil;amba", datafield: "codCacamba" },
                        { text: "Coordenadas", datafield: "coordenadas" },
                        { text: "Data Registro GPS", datafield: "criadoEm" }
                        
                    ]
                });
        });
    </script>
} 