@page
@model WebApiGps.Pages.MapsModel
@{
}

<!DOCTYPE html>
<html>

<head>    
   
</head>

<body onload="loadMap()">

    <div id="map" style="width:1360px; height:768px;"></div>

    <script>
        function loadMap() {
            var center = new google.maps.LatLng(-20.3184424, -40.3595609);  //which city will be shown (Grande Vitoria/ES).
            var mapOptions = {
                zoom: 14,
                center: center,
                mapTypeId: google.maps.MapTypeId.roadmap //Map style
            };

            var map = new google.maps.Map(document.getElementById('map'), mapOptions); //pass div id and google map load values.
            loadMarkers(map); //here load all objects in API/JSON
        }


        function loadMarkers(map) {
            //Info Window - Description
            var infoWindow = new google.maps.InfoWindow();

            //API URL
            $.getJSON("/api/location",
                {
                    format: "json"
                })
                .done(function (json) {
                    $.each(json, function (key, data) {
                        var latLng = new google.maps.LatLng(data.latitude, data.longitude); //here i assigned lat and long.
                        // Creating a marker and putting it on the map
                        var marker = new google.maps.Marker({
                            position: latLng, //lat and long value
                            map: map, //div id
                            title: data.name, //object name
                            icon: '/img/caçamba.png' //null = default icon google
                        });
                        console.log(data); //Debug to console
                        (function (marker, data) { //here city map description after click on it.
                            google.maps.event.addListener(marker, "click", function (e) {
                                infoWindow.setContent("<font size = 2>" + "ID: " + data.id + "</br>Nome : "+ data.name +"</br>Coleta GPS: "+ data.createdAt + "</font>"); //objects of API in description box
                                infoWindow.open(map, marker); //then pop will show the description
                            });
                        })(marker, data);
                    });
                });
        }
    </script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=API_KEY"></script> @*api key after sign in your google account.*@
</body>

</html >
